body, html{
  height:100%;
  margin:0;
  font-size:17px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;

}
a:link {
  color: #ffffff
 

}
a:visited{
  color: rgb(255, 255, 255)
  
}
a:hover{
  color: rgb(255, 255, 255);
  text-decoration: none 
}
a:active{
  color: rgb(255, 255, 255)
  
}
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11, .pimg12, .pimg13, .pimg14, .pimg15, .pimg16, .pimg17, .pimg18{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size: contain;
  background-repeat:no-repeat;
  object-fit: scale-down;  

  /*
    fixed = parallax
    scroll = normal
  */
  
  background-attachment:fixed;
}

.pimg1{
  background-image:url('/Art/art\ \(13\).jpg');
  width: 100%;
  height: 100%; 
  object-fit: contain;
}
.pimg2{
  background-image:url('../art\ \(1\).jpg');
  min-height:100%;
}
.pimg3{
  background-image:url('../art\ \(2\).JPEG');
  min-height:100%;
}
.pimg4{
  background-image:url('../art\ \(1\).JPEG');
  min-height:100%;
}
.pimg9{
  background-image:url('../art\ \(02\).JPEG');
  min-height:100%;
}
.pimg6{
  background-image:url('../art\ \(3\).jpg');
  min-height:100%;
}
.pimg7{
  background-image:url('/Art/art\ \(4\).jpg');
  min-height:100%;
}
.pimg8{
  background-image:url('../art\ \(5\).jpg');
  min-height:100%;
}
.pimg9{
  background-image:url('../art\ \(6\).JPG');
  min-height:100%;
}
.pimg10{
  background-image:url('../art\ \(7\).jpg');
  min-height:100%;
}
.pimg11{
  background-image:url('../art\ \(8\).JPG');
  min-height:100%;
}
.pimg12{
  background-image:url('../art\ \(9\).JPG');
  min-height:100%;
}
.pimg13{
  background-image:url('../art\ \(10\).JPG');
  min-height:100%;
}
.pimg14{
  background-image:url('../art\ \(11\).JPG');
  min-height:100%;
}
.pimg15{
  background-image:url('../art\ \(12\).JPG');
  min-height:100%;
}
.pimg16{
  background-image:url('../art\ \(13\).JPG');
  min-height:100%;
}
.pimg17{
  background-image:url('../art\ \(14\).JPG');
  min-height:100%;
}
.pimg18{
  background-image:url('../art\ \(15\).JPG');
  min-height:100%;
}

.section-light{
  text-align:center;
  padding:50px 80px;
  background-color:#f4f4f4;
  color:#666;
  
}

.section-dark{
  background-color:#000000;
  color:#ddd;
}

.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:rgb(255, 255, 255);
  font-size:50px;
  letter-spacing:8px;
  text-transform:uppercase;
  
}

.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}

.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3, .pimg4, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11, .pimg12, .pimg13, .pimg14, .pimg15, .pimg16, .pimg17, .pimg18{
    background-attachment:scroll;
  }
}

