body, html{
  height:100%;
  margin:0;
  font-size:17px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;

}
a:link {
  color: #ffffff


}
a:visited{
  color: rgb(255, 255, 255)

}
a:hover{
  color: rgb(255, 255, 255);

}
a:active{
  color: rgb(255, 255, 255)
 
}
.pimg1, .pimg2, .pimg3, .pimg4, .pimg5, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11, .pimg12, .pimg13, .pimg14, .pimg15, .pimg16, .pimg17, .pimg18{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:contain;
  background-repeat:no-repeat;

  /*
    fixed = parallax
    scroll = normal
  */
  
  background-attachment:scroll;
}

.pimg1{
  background-image:url('/Internship/meet\ the\ health\ education\ interns.png');
  min-height:100%;
}
.pimg2{
  background-image:url('../Yellow\ and\ Red\ Megaphone\ School\ Declamation\ Classroom\ Event\ Program\ \(Instagram\ Post\).png');
  min-height:100%;
}
.pimg3{
  background-image:url('../internship\ \(1\).png');
  min-height:100%;
}
.pimg4{
  background-image:url('../internship\ \(2\).png');
  min-height:100%;
}
.pimg9{
  background-image:url('../internship\ \(4\).png');
  min-height:100%;
}
.pimg6{
  background-image:url('../internship\ \(5\).png');
  min-height:100%;
}
.pimg7{
  background-image:url('/Internship/internship\ \(5\).png');
  min-height:100%;
}
.pimg8{
  background-image:url('../internship\ \(6\).png');
  min-height:100%;
}
.pimg9{
  background-image:url('/Internship/internship\ \(7\).png');
  min-height:100%;
}
.pimg10{
  background-image:url('/Internship/internship\ \(8\).png');
  min-height:100%;
}
.pimg11{
  background-image:url('/Internship/internship\ \(9\).png');
  min-height:100%;
}
.pimg12{
  background-image:url('/Internship/internship\ \(10\).png');
  min-height:100%;
}
.pimg13{
  background-image:url('/Internship/internship\ \(11\).png');
  min-height:100%;
}
.pimg14{
  background-image:url('/Internship/internship\ \(12\).png');
  min-height:100%;
}
.pimg15{
  background-image:url('/Internship/internship\ \(13\).png');
  min-height:100%;
}
.pimg16{
  background-image:url('/Internship/internship\ \(14\).png');
  min-height:100%;
}

.section{
  text-align:center;
  padding:50px 80px;
}
.section-light{
  text-align:center;
  padding:50px 80px;
  background-color:#f4f4f4;
  color:#666;
}
.section-dark{
  background-color:#000000;
  color:#ddd;
}
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:rgb(31, 29, 29);
  font-size:50px;
  letter-spacing:8px;
  text-transform:uppercase;  
}
.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}
.ptext .border.trans{
  background-color:transparent;
}

@media(max-width:1280px){
  .pimg1, .pimg2, .pimg3, .pimg4, .pigm9, .pimg6, .pimg7, .pimg8, .pimg9, .pimg10, .pimg11, .pimg12, .pimg13, .pimg14, .pimg15, .pimg16, .pimg17, .pimg18{
    background-attachment:scroll;
  }


}

